---
import AppLayout from "@/layouts/AppLayout.astro";
import Base64EncodeDecodeTool from "@/tools/base64-encode-decode/base64-encode-decode-tool.vue";
import GuidGenerateTool from "@/tools/guid-generate/guid-generate-tool.astro";
import JwtEncodeTool from "@/tools/jwt-encode/jwt-encode-tool";
import C from "@/utils/constants";
---


<script>
	import "../scripts/sortable";
</script>

<AppLayout>
	<div
		id={C.ToolLayout.ItemsId}
		class="flex flex-wrap gap-4 justify-start w-full"
	>
		<div id={C.ToolId.JwtEncode} class="rounded-lg h-fit w-full md:w-fit">
			<JwtEncodeTool client:load />
		</div>
		<div
			id={C.ToolId.GuidGenerate}
			class="rounded-lg h-fit w-full md:w-fit"
		>
			<GuidGenerateTool />
		</div>
		<div
			id={C.ToolId.Base64EncodeDecode}
			class="rounded-lg h-fit w-full md:w-fit"
		>
			<Base64EncodeDecodeTool client:load />
		</div>
	</div>
</AppLayout>
