<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Simple developer tools.">
		<meta name="generator" content={Astro.generator} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://cccaaannn.github.io/tool-islands">
		<meta property="og:type" content="website">
		<meta property="og:title" content="tool-islands">
		<meta property="og:description" content="Simple developer tools.">
		<meta property="og:image" content="https://raw.githubusercontent.com/cccaaannn/tool-islands/master/public/icons/icon-1024x1024.png">
	
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="cccaaannn.github.io">
		<meta property="twitter:url" content="https://cccaaannn.github.io/tool-islands">
		<meta name="twitter:title" content="tool-islands">
		<meta name="twitter:description" content="Simple developer tools.">
		<meta name="twitter:image" content="https://raw.githubusercontent.com/cccaaannn/tool-islands/master/public/icons/icon-1024x1024.png">
	
		<!-- Icon -->
		<link rel="icon" type="image/ico" href="favicon.ico">
	
		<title>Tool islands</title>
	</head>
	<body class="w-dvw h-dvh">
		<div class="container mx-auto">
			<main
				class="flex flex-wrap gap-4 justify-start h-full py-6 px-4 transition-all duration-500 ease-out"
			>
				<slot />
			</main>
		</div>
	</body>
</html>

<style is:global>
	@import "@/styles/global.css";
</style>
